nav {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
}
section {
    
    margin: 2em;
    padding: 1em;
    border-radius: 10px;
    
}
footer {
    text-align: center;
    padding: 1em;
    background-color: #000000;
    color: #fff;
}
